/*  Ex 8 
#themebox {
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 50px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    transition: 0.3s ease;
}

.dark {
    background-color: rgb(35, 34, 34);
    color: white;
}

.white {
    background-color: rgb(243, 238, 238);
    color: black;
}

.colorful {
    background: linear-gradient(to right, #ff8a00, #e52e71);
    color: white;
}

button {
    margin: 10px;;
    padding: 10px 15px;
    cursor: pointer;
}   Ex 8 */

/* body {
    background-color: lightgray;
    text-align: center;
    transition: background-color 0.4s;
}

#heading {
    font-size: 40px;
    margin-top: 50px;
    font-weight: bold;
}

#bgChangeBtn {
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3); */

body {
    background-color: rgb(186, 78, 240);
    height: 50vh;

}
#myButton {
    padding: 3px;
    margin: 5px 0px 0px 0px;
    border-radius: 7px;
}

h1 {
    margin-left: 130px;
    color: rgb(0, 0, 0);
}

#myNum {
    border-radius: 7px;
    
}

#myNumber {
    border-radius: 7px;
}